<!-- <div class="red-turn-text mobile">
  Reds turn
</div> -->
<!-- <button type="button" (click)="givePiecesEventListeners() ">jugar</button> -->
<table>
  <tr>
      <td class="noPieceHere"></td>
      <td><p class="red-piece" id="0"></p></td>
      <td class="noPieceHere"></td>
      <td><p class="red-piece" id="1"></p></td>
      <td class="noPieceHere"></td>
      <td><p class="red-piece" id="2"></p></td>
      <td class="noPieceHere"></td>
      <td><p class="red-piece" id="3"></p></td>
  </tr>
  <tr>
      <td><p class="red-piece" id="4"></p></td>
      <td class="noPieceHere"></td>
      <td><p class="red-piece" id="5"></p></td>
      <td class="noPieceHere"></td>
      <td><p class="red-piece" id="6"></p></td>
      <td class="noPieceHere"></td>
      <td><p class="red-piece" id="7"></p></td>
      <td class="noPieceHere"></td>
  </tr>
  <tr>
      <td class="noPieceHere"></td>
      <td><p class="red-piece" id="8"></p></td>
      <td class="noPieceHere"></td>
      <td><p class="red-piece" id="9"></p></td>
      <td class="noPieceHere"></td>
      <td><p class="red-piece" id="10"></p></td>
      <td class="noPieceHere"></td>
      <td><p class="red-piece" id="11"></p></td>
  </tr>
  <tr>
      <td></td>
      <td class="noPieceHere"></td>
      <td></td>
      <td class="noPieceHere"></td>
      <td></td>
      <td class="noPieceHere"></td>
      <td></td>
      <td class="noPieceHere"></td>
  </tr>
  <tr>
      <td class="noPieceHere"></td>
      <td></td>
      <td class="noPieceHere"></td>
      <td></td>
      <td class="noPieceHere"></td>
      <td></td>
      <td class="noPieceHere"></td>
      <td></td>
  </tr>
  <tr>
      <td><span class="black-piece" id="12"></span></td>
      <td class="noPieceHere"></td>
      <td><span class="black-piece" id="13"></span></td>
      <td class="noPieceHere"></td>
      <td><span class="black-piece" id="14"></span></td>
      <td class="noPieceHere"></td>
      <td><span class="black-piece" id="15"></span></td>
      <td class="noPieceHere"></td>
  </tr>
  <tr>

<div style="position: absolute; bottom:10px;">
  <ion-button style=" position: absolute; bottom: 0;" (click)= "backPage()" 
  color="dark" position="bottom" class="my-action-button" style="padding-left: 10px;">Salir de Partida</ion-button>

</div>
