
<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Menu Principal</ion-title>
  </ion-toolbar>
</ion-header> -->



<ion-content class="ion-text-center ion-padding-top"  padding>
  <ion-img src="../../assets/logo2.png" style="padding-top: 40px;"  ></ion-img> 
  <ion-img src="../../assets/fichas.png" style="margin-top: -40px !important; width: 250px; height: 200px; margin: auto;"></ion-img>
  <br>
  <ion-button (click)= "iniciarPage()" color="dark" class="my-action-button">Iniciar Partida</ion-button>
  <br>
  <br>
  <ion-button (click)= "instructionsPage()" color="dark" class="my-action-button">Instrucciones</ion-button>

  <div style="position: absolute; bottom:10px;">
    <ion-button style=" position: absolute; bottom: 0;" (click)= "myAction()" color="dark" position="bottom" class="my-action-button" style="padding-left: 10px;">Salir</ion-button>
    <ion-button (click)= "languagesPage()" color="dark" class="my-action-button" style="padding-left: 125px;">Idiomas</ion-button>
  </div>



</ion-content>



  
