
<ion-content class="ion-text-center ion-padding-top">
  <ion-img src="../../assets/logo2.png" style="padding-top: 40px;"  ></ion-img>
  <ion-card>
    <ion-card-title style="padding-top: 5px;">Instrucciones de Juego</ion-card-title>
    <p>
      Se juega por turnos alternos. Empieza a jugar quien tiene las fichas claras (blancas). 
      En su turno cada jugador mueve una pieza propia. 
      Las piezas se mueven (cuando no comen) una posición hacia delante (nunca hacia atrás)
      en diagonal a la derecha o a la izquierda, a una posición adyacente vacía.
      Al momento de comer piezas del oponente, 
      se pueden comer varias en un mismo turno de forma diagonal hacia la derecha e izquierda
      para adelante y para atrás. NOTA: Soplar no es obligatorio. Es una decisión del jugador de turno.
    </p>  
  </ion-card>

  <ion-button (click)= "backPage()" color="dark" class="my-action-button">Entendido</ion-button>
</ion-content>
