<!-- <ion-header>
  <ion-toolbar>
    <ion-title>difficulty</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="ion-text-center ion-padding-top"  padding>
  <ion-img src="../../assets/modo3.png" style="padding-top: 60px;"  ></ion-img> 
  <br>
  <ion-button (click)= "jugarPage()" color="dark" class="my-action-button">Jugar Individual</ion-button>
  <br>
  <br>
  <ion-button (click)= "myAction()" color="dark" class="my-action-button">Invitar a un amigo</ion-button>
</ion-content>

<div style="position: absolute; bottom:10px;">
  <ion-button style=" position: absolute; bottom: 0;" (click)= "backPage()" color="dark" position="bottom" class="my-action-button" style="padding-left: 10px;">Atras</ion-button>

</div>