<!-- <ion-header>
  <ion-toolbar>
    <ion-title>difficulty</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="ion-text-center ion-padding-top" style="margin-top: 30%;"  padding>
  <ion-img src="../../assets/modo3.png" style="padding-top: 60px;"  ></ion-img> 
  <br>
  <!-- <br>
  <ion-button (click)= "invitarPage()" color="dark" class="my-action-button">Invitar a un amigo</ion-button>
  <br>
  <br> -->
  <ion-button (click)= "crearSala()" color="dark" class="my-action-button">Crear Sala</ion-button>
  <ion-button [disabled]="!(selectedUser && selectedRoom)" (click)= "agregarJugador()" color="dark" class="my-action-button">Agregar jugador a la sala:</ion-button>

  <ion-item style="margin-top: 15%;">
    <ion-label>Rooms</ion-label>
    <ion-select interface = "popover" [(ngModel)]="selectedRoom">      
      <ion-select-option  *ngFor="let room of roomList" [value]="roomList[i]">{{ room }}</ion-select-option>
    </ion-select>
  </ion-item>

    <ion-item>

    
    <ion-label>Users</ion-label>
    <ion-select interface = "popover" [(ngModel)]="selectedUser" >      
      <ion-select-option  *ngFor="let users of usersList; let i = index" [value]="usersList[i]" >{{ users.displayName}}</ion-select-option>
    </ion-select>
  
  </ion-item>
  <br>
  <ion-button (click)= "jugarPage()" color="dark" class="my-action-button">Iniciar Partida</ion-button>
  <br>
    
</ion-content>

<div style="position: absolute; bottom:10px;">
  <ion-button style=" position: absolute; bottom: 0;" (click)= "backPage()" color="dark" position="bottom" class="my-action-button" style="padding-left: 10px;">Atras</ion-button>

</div>